{{#resume.basics}}
<header class="row">
    {{#if picture}}
        <div class="profile-pic">
            <img src="{{picture}}" alt="profile-pic">
        </div>
    {{/if}}

    <div class="column fill">
        <h1>{{name}}</h1>
        <h2>{{label}}</h2>
    </div>

    <div class="column end">
        {{#if email}}
            {{> info-tag text=email icon="fa-envelope-o" isEmail=true url=email}}
        {{/if}}

        {{#if phone}}
            {{> info-tag text=phone icon="fa-phone"}}
        {{/if}}

        {{#if website}}
            {{> info-tag text=website icon="fa-globe" url=website}}
        {{/if}}

        {{#if location}}
            {{#location}}
            {{> info-tag text=(formatAddress address city region postalCode countryCode) icon="fa-map-marker"}}
            {{/location}}
        {{/if}}
    </div>
</header>
{{/resume.basics}}
