{{#resume.basics}}
<section class="no-print">
    <div class="row centre spread">
        {{#if profiles}}
            {{#each profiles}}
                {{> social}}
            {{/each}}
        {{/if}}
    </div>
</section>
{{/resume.basics}}
