{{#resume.basics}}
<section>
    <div class="row profiles">
        {{#if profiles}}
            {{#each profiles}}
                {{> social}}
            {{/each}}
        {{/if}}
    </div>
</section>
{{/resume.basics}}
