<div class="column">
    <h3 class="uppercase">
        {{#if icon}}
            <i class="fa fa-{{icon}}" aria-hidden="true"></i>
        {{/if}}
        {{value}}
    </h3>
    <div class="keyline"></div>
</div>