{{#if resume.skills.length}}
    <section>
        {{> title value="Skills"}}
        {{#each resume.skills}}
            <div class="row top space">
                <div class="column end skills">
                    {{#if name}}
                        <h4 class="bold capitalize">{{name}}</h4>
                    {{/if}}
                    {{#if level}}
                        <h4 class="capitalize">{{level}}</h4>
                    {{/if}}
                </div>
                {{#if keywords.length}}
                    <div class="row wrap minimal">
                        {{#each keywords}}
                            <h6 class="chip">{{.}}</h6>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </section>
{{/if}}
