{{#resume.basics}}
{{#if summary}}
    <section>
        {{> section-heading icon="user" value="About"}}
        {{#each (split summary) }}
            <p class="summary">{{this}}</p>
        {{/each}}
    </section>
{{/if}}
{{/resume.basics}}