{{#if resume.work.length}}
<section>
    {{> section-heading icon="building" value="Work Experience"}}
    {{#each resume.work}}
        {{> company}}
        {{#each this.positions}}
            {{> position}}
        {{/each}}
    {{/each}}
</section>
{{/if}}
