<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {{{ style }}}
</head>

<body>
  <main id="resume" class="page">
    {{> header}}
    {{> profiles }}
    {{> about}}
    {{> skills }}
    {{> work }}
    {{> education }}
    {{> references }}
    <!--
    {{> projects }}
    {{> languages }}
    {{> interests }}
    {{> volunteer }}
    {{> awards }}
    {{> publications }}
    -->
  </main>
</body>

</html>
